<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aeterna</title>
    {% block stylesheets %}
        {% stylesheets '@AppBundle/Resources/public/css/*' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}

</head>
<body>
{% include '@App/Common/header.html.twig' %}
{% block body %}{% endblock %}
{% include '@App/Common/footer.html.twig' %}
</body>

{% javascripts
'@AppBundle/Resources/public/Js/jquery-3.2.1.js'
'@AppBundle/Resources/public/Js/header.js'
'@AppBundle/Resources/public/Js/footer.js'

output='js/compiled/app.js' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}

</html>